<html>
<!-- <meta name="viewport" content="width=device-width, initial-1">-->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Cam</title>
</head>

<body style="margin:1% 25%;">
    <center><span><video id="video" width="640" height="480" autoplay="" style="display:none;"></video></span><br/><br/>
        <form onsubmit="myFunction()" id="myForm">
            <input class="form-control" id="uname" type="text" placeholder="Enter Your Name" name="username" required/><br/>
            <!--<input class="btn btn-primary" id="host" type="submit" value="Create Meeting" />
            <button class="btn btn-danger" id="opencam" onclick="display_video()"
                style="border-radius: 10%"> Open cam</button>-->
            <button class="btn btn-primary" id="user" type="submit">Enter Meeting</button></form>
    </center>
    <script>

        var fruits = [];
        function myFunction() {
            var urls=document.getElementById("uname").value;
            var n=JSON.parse(localStorage.getItem("names"));
            var n = n.includes(urls)
            if(n==true){
                alert("use anothername");
            }
            else{
                fruits.push(urls);
                localStorage.setItem("names", JSON.stringify(fruits));
                console.log(localStorage)
                alert("Your Nmae is stored")
                document.getElementById("myForm").action = "/login";
            }
          
        }
</script>
</body>

</html>